# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Trained models
models/

# OS files
.DS_Store
Thumbs.db

# Large or private datasets
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/external/*
!data/external/.gitkeep